
.layout{
    padding-top: 150px;
    width: 1060px;
    margin: auto;
    position: relative;
}
.right{
    float: right;
    right: 0px;
}
.left{
    float: left;
    left: 0px;
}
.add{
    width: 530px;
}
.loadmore{
    position: absolute;
    bottom: 10px;
}